parameters:
    completion_case_sensitivity:       false
    completion_match_type:             'subsequence'
    logger_implementation:             '\Monolog\Logger'
    logger_parameters:                 []
    messenger:                         null

services:
    phpcd_factory:
        class:              \PHPCD\Factory

    default_logger:
        class:              Psr\Log\LoggerInterface
        factory:            ['@phpcd_factory', 'createLogger']
        arguments:
            - '%logger_implementation%'
            - '%logger_parameters%'

    default_pattern_matcher:
        class:              \PHPCD\PatternMatcher\PatternMatcher
        factory:             ['@phpcd_factory', 'createPatternMatcher']
        arguments:           ['%completion_match_type%', '%completion_case_sensitivity%']

    subsequence_pattern_matcher:
        class:              \PHPCD\PatternMatcher\SubsequencePatternMatcher
        arguments:           ['%completion_case_sensitivity%']
        autowiring_types:   \PHPCD\PatternMatcher\PatternMatcher

    head_pattern_matcher:
        class:              \PHPCD\PatternMatcher\HeadPatternMatcher
        arguments:           ['%completion_case_sensitivity%']
        autowiring_types:   \PHPCD\PatternMatcher\PatternMatcher

    messenger:
        class:              Lvht\MsgpackRpc\Messenger
        factory:            ['@phpcd_factory', 'createMessenger']
        arguments:          ['@io', '%messenger%']

    io:
        class:              Lvht\MsgpackRpc\StdIo
        autowiring_types:   Lvht\MsgpackRpc\Io

    file_info_factory:
        class:              \PHPCD\PHPFileInfo\PHPFileInfoFactory

    class_info_factory:
        class:              \PHPCD\ClassInfo\ClassInfoFactory
        arguments:          ['@default_pattern_matcher']

